
            .options-menu .cls-1 {
                font-family: IstokWeb-Regular, 'Istok Web';
                font-size: 8px;
                letter-spacing: -.01em;
            }

            .options-menu .cls-1,
            .options-menu .cls-2,
            .options-menu .cls-3,
            .options-menu .cls-4,
            .options-menu .cls-5,
            .options-menu .cls-6,
            .options-menu .cls-7,
            .options-menu .cls-8,
            .options-menu .cls-9,
            .options-menu .cls-10,
            .options-menu .cls-11 {
                fill: #010000;
            }

            .options-menu .cls-2 {
                letter-spacing: .01em;
            }

            .options-menu .cls-2,
            .options-menu .cls-3,
            .options-menu .cls-4,
            .options-menu .cls-5,
            .options-menu .cls-6,
            .options-menu .cls-7,
            .options-menu .cls-8,
            .options-menu .cls-9,
            .options-menu .cls-10,
            .options-menu .cls-11 {
                font-family: MyriadPro-Regular, 'Myriad Pro';
                font-size: 8.25px;
            }

            .options-menu .cls-3 {
                letter-spacing: 0em;
            }

            .options-menu .cls-12 {
                letter-spacing: .02em;
            }

            .options-menu .cls-4 {
                letter-spacing: .01em;
            }

            .options-menu .cls-13,
            .options-menu .cls-14,
            .options-menu .cls-15,
            .options-menu .cls-16,
            .options-menu .cls-17,
            .options-menu .cls-18,
            .options-menu .cls-19,
            .options-menu .cls-20,
            .options-menu .cls-21,
            .options-menu .cls-22 {
                stroke-width: 0px;
            }

            .options-menu .cls-14,
            .options-menu .cls-18,
            .options-menu .cls-22 {
                fill-rule: evenodd;
            }

            .options-menu .cls-14,
            .options-menu .cls-21 {
                fill: #575756;
            }

            .options-menu .cls-23 {
                letter-spacing: 0em;
            }

            .options-menu .cls-15 {
                fill: #3c3c3b;
            }

            .options-menu .cls-16 {
                fill: #dadada;
            }

            .options-menu .cls-17,
            .options-menu .cls-18 {
                fill: #fff;
            }

            .options-menu .cls-5 {
                letter-spacing: 0em;
            }

            .options-menu .cls-6 {
                letter-spacing: .02em;
            }

            .options-menu .cls-24 {
                letter-spacing: 0em;
            }

            .options-menu .cls-19 {
                fill: #414042;
            }

            .options-menu .cls-8 {
                letter-spacing: .01em;
            }

            .options-menu .cls-20 {
                opacity: .5;
            }

            .options-menu .cls-25,
            .options-menu .cls-11 {
                letter-spacing: .02em;
            }

            .options-menu .cls-9,
            .options-menu .cls-26 {
                letter-spacing: 0em;
            }

            .options-menu .cls-27 {
                letter-spacing: .04em;
            }

            .options-menu .cls-10 {
                letter-spacing: 0em;
            }

            .options-menu .cls-28 {
                letter-spacing: .02em;
            }

            .options-menu .cls-22 {
                fill: #1d1d1b;
            }
            .options-menu .button-label:hover .cls-16{
                fill: #fbb69a;
            }
            #floor{
                cursor:grab;
            }
            #floor .room{
                 cursor: pointer;
            }
            #floor .room polygon,#floor .room path, #floor .room rect{
                fill: #c5c5c5 !important;
            }
            #floor .room:hover polygon, #floor .room:hover path, #floor .room:hover rect{
                fill: #d54c15 !important;
            }
            #floor .room text, #floor .room tspan{
                fill:rgb(25, 25, 25);
            }
            #floor .room:hover text, #floor .room:hover tspan{
                fill:white;
            }

      
            #floor g.greyscale polygon, #floor g.greyscale path, #floor g.greyscale rect{
                fill: rgb(199, 199, 199) !important;
                
            }
            #floor g.greyscale:hover polygon, #floor g.greyscale:hover path, #floor g.greyscale:hover rect{
                fill: rgb(199, 199, 199)!important;
                
            }
            #floor g.greyscale text, #floor g.greyscale tspan{
                fill:grey;
            }
            #floor g.greyscale:hover text, #floor g.greyscale:hover tspan{
                fill:grey;
            }
            
            #floor g.active polygon, #floor g.active path, #floor g.active rect{
                fill: orangered !important;
                
            }
            #floor g.active:hover polygon, #floor g.active:hover path, #floor g.active:hover rect{
                fill: #d54c15 !important;
                
            }
            #floor g.active text, #floor g.active tspan{
                fill:white;
            }
            #floor g.active:hover text, #floor g.active:hover tspan{
                fill:white;
            }
            .levelForm{
                position: absolute;
                right: 2px;
                top: 0px;
                z-index: 10;
                font-size: 2rem;
                text-transform: capitalize;
                padding: 15px;
                background-color: white;
            }
            .select_floor{
                padding: 20px;
                font-size: 1.5rem;
                border: 0;
                background-color: orangered;
                color: white;border-radius: 10px;
            }
            .select_floor option{
                background-color: white;
                color: orangered;
                border-radius: 10px;
                padding: 1rem;
            }
            .select_floor:hover, .select_floor option:hover{
            background-color: black;
            }
            .select_floor option:focus, .select_floor option:checked  { 
                box-shadow: 0 0 10px 100px red inset !important;
                
            }
            .select_floor:focus{
                outline:white;
            }
            .button-menu{
                display: none;
            }
            .building_label, .buidling_link{
                font-size: 1.5rem;
                margin: 0;
            }