#main_content {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}
.image-body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img, video{
max-width: 100%;
height: auto;
display:block;
}



    #startbutton, #btn-crop{
        padding: 1rem;
        background-color: #d54c15;
        color: white;
        border: rgb(172, 132, 117);
        font-size: large;
        margin-left: 43%;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-flow: row;
        gap:.5rem;
        align-items: center;
        justify-content: center;
        
    }


    #save, #cancel{

        margin-bottom: 1rem;
        padding: 1rem;
        font-size: large;
        border: 2px solid rgb(172, 132, 117);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-flow: row;
        gap:.5rem;
        align-items: center;
        justify-content: center;

    }

    #save{
        background-color: #d54c15;
        color: white;
    }

    #cancel{
        background-color: white;
        color: black;
        
    }

    .save-cancel{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 2rem;
      
    }

    
    input[type="file"] {
        display: none;
    }



    #output {
        width: 100%; /* Make the image take up the full width of the container */
        height: 100%; /* Make the image take up the full height of the container */
        object-fit: cover; /* Ensure that the image maintains its aspect ratio while covering the container */
    }
    .img-container {
        object-fit: cover;
        width: 100%; 
    }
    
    
    
    
    
    
    
