

#main-content{
    overflow-y: hidden;
    overflow-y: hidden;
}

form{
    /* max-width: 500px; */
    display: grid;
    align-items: center;
    justify-content: center;
}

input{
    width: 100%;
}

button{
    margin: 1rem 0;
    padding: .5rem;
    width: 30%;
    justify-self: center;
}

.login{
    text-align: center;
}

.profile_image img {
    border-radius: 50%;
    margin: 0 auto;
width: 100px;
height: 100px;
}
.img_profile{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.edit-btn{
    background-color: orangered;
    color:white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    text-decoration: none;
    position: absolute;
    bottom:0px;
    right:20px;
    margin: 0;
}
@media screen and (min-width: 760px) {
    button{ 
        width:100%
    }
    .password-field{
        display: none;
    }
    .login{
        display: none;
    }
}